Thunbs.db
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
*.refresh
*.suo
*.yml
*.key
obj/
[Rr]elease*/
_ReSharper*/
.svn
*.cache
.DS_Store

/node_modules
/log
/static/upload

package-lock.json