{% extends "views/common/pc_layout.html" %}



{% block title %}
<title>大前端</title>
<meta name="Keywords" content = "..."/>
<meta name="Description" content = "..."/>
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{bundle('/recommend/common/pc/bundle.css')}}">
<link rel="stylesheet" href="{{bundle('/recommend/app/error_page/bundle.css')}}">
{% endblock %}


{% block body %}
<div class="wrapper">
    <div id="container" >
    </div>
</div>

{{ outputWindowInfo | safe }}


{% endblock %}


{% block footer %}
<script src="{{bundle('/recommend/common/pc/bundle.js')}}"></script>
<script src="{{bundle('/recommend/app/error_page/bundle.js')}}"></script>
{% endblock %}