{% extends "views/common/pc_layout.html" %}



{% block title %}
<title>东方股吧</title>
<meta name="Keywords" content = "..."/>
<meta name="Description" content = "..."/>
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{bundle('/recommend/common/pc/bundle.css')}}">
<link rel="stylesheet" href="{{bundle('/recommend/app/home/bundle.css')}}">
{% endblock %}


{% block body %}
<div class="wrapper">
    <div id="container" >
    </div>
</div>
{{ outputWindowInfo | safe }}
{% endblock %}


{% block footer %}
<script src="{{bundle('/recommend/common/pc/bundle.js')}}"></script>
<script src="{{bundle('/recommend/app/home/bundle.js')}}"></script>
{% endblock %}