<!DOCTYPE html>
<html>
<head>
    {% block title %}

    {% endblock %}
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no;address=no;email=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="/recommend/common/assets/ico/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">

    <script src="{{bundle('/recommend/dll/prod/dll.js')}}"></script>

    {{ outPutPublicInfo | safe }}
    
    <!-- 插入header -->
    {% block head %}

    {% endblock %}

</head>
<body>

    <!-- 插入body -->
    {% block body %}

    {% endblock %}

    <!-- 插入footer -->
    {% block footer %}

    {% endblock %}

    <script type="text/javascript" src=""></script><!-- 根据BI监控的代码，封装成ht的发送埋点的方法 -->
    <script type="text/javascript" src=""></script><!-- BI监控的代码 -->
</body>
</html>
