<!DOCTYPE html>
<html>
<head>
    {% block title %}

    {% endblock %}
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="/recommend/common/assets/ico/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script src="{{bundle('/recommend/dll/prod/dll.js')}}"></script>


    {{ outPutPublicInfo | safe }}

    <!-- 默认的autoescape是开启的，防止富文本输出造成xss攻击，如果某个地方单独想开启，在括号内添加 | safe
如果autoescape默认是关闭的，那么某个地方需要开启富文本禁用，需要在括号内添加  | escape
    
 -->
    
    <!-- 插入header -->
    {% block head %}

    {% endblock %}

</head>
<body>

    <!-- 插入body -->
    {% block body %}

    {% endblock %}

    <!-- 插入footer -->
    {% block footer %}

    {% endblock %}

    <script type="text/javascript" src=""></script><!-- 根据BI监控的代码，封装成ht的发送埋点的方法 -->
    <script type="text/javascript" src=""></script><!-- BI监控的代码 -->
</body>
</html>
